p{
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  /*text-align: center;*/
  color: cyan;
  text-align: center;
}

h2 {
	color: red;
	font-size: 60px;
	text-align: center;
	margin: 0;
    padding: 20px 0;    
    text-shadow: 3px 3px 1px black;
}

html {
	background-color: black;
  font-size: 10px; 
  font-family: "Stylish", sans-serif; 
}

img {
  display: block;
  margin: 0 auto;
  width: 400px;
}

body {
  width: 1000px;
  height: 570px;
  margin: 0 auto;
  /*background-color: #081B1B;*/
  background-image: url("https://cdn.vox-cdn.com/thumbor/spPrIJTacIK3wYL6_YQQtTcHIU0=/0x0:864x1280/920x613/filters:focal(363x571:501x709):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/63239723/MLou2_Payoff_1_Sht_Online_DOM_v7_Sm_0.0.jpg");
  padding: 0 20px 20px 20px;
  border: 10px solid #011B46;
}
