p, a {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  /*text-align: center;*/
  color: cyan;
  text-align: center;
}

a {
	color: orange;
	text-align: center;
}

h2 {
	color: red;
	font-size: 60px;
	text-align: center;
	margin: 0;
    padding: 20px 0;    
    text-shadow: 3px 3px 1px black;
}

html {
	background-color: black;
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: "Stylish", sans-serif; /* this should be the rest of the output you got from Google fonts */
}

img {
  display: block;
  margin: 0 auto;
  width: 400px;
}

body {
  width: 1000px;
  height: 570px;
  margin: 0 auto;
  background-color: #081B1B;
  padding: 0 20px 20px 20px;
  border: 10px solid #011B46;
}